# Datetime in Pandas

In [1]:
import pandas as pd
import datetime 
import numpy as np

## Read and Clean data

In [2]:
df = pd.read_csv('train.csv') # read .csv file.
df.head()

         date  shop   item    price
0  02.01.2019    59  22154   999.00
1  03.01.2019    25   2552   899.00
2  05.01.2019    25   2552   899.00
3  06.01.2019    25   2554  1709.05
4  25.01.2019    25   2439   299.00

In [3]:
df.shape

(44, 4)

In [4]:
type(df.index) # Check type of dataframe

pandas.core.indexes.range.RangeIndex

In [5]:
df['date'] = pd.to_datetime(df['date']) # Convert argument to datetime
df = df.set_index('date') # set 'date' as index
df.head(5)

            shop   item    price
date
2019-02-01    59  22154   999.00
2019-03-01    25   2552   899.00
2019-05-01    25   2552   899.00
2019-06-01    25   2554  1709.05
2019-01-25    25   2439   299.00

In [6]:
type(df.index) # Check type of the dataframe

pandas.core.indexes.datetimes.DatetimeIndex

## Filter data by date

In [7]:
# get the first 5 records of 2019
df['2019'].head(5)

            shop   item    price
date
2019-02-01    59  22154   999.00
2019-03-01    25   2552   899.00
2019-05-01    25   2552   899.00
2019-06-01    25   2554  1709.05
2019-01-25    25   2439   299.00

In [8]:
# get data between 2019 to 2020
df['2019':'2020'].head()

            shop   item    price
date
2019-02-01    59  22154   999.00
2019-03-01    25   2552   899.00
2019-05-01    25   2552   899.00
2019-06-01    25   2554  1709.05
2019-01-25    25   2439   299.00

In [9]:
df['2019-01'] # get data for a month

            shop  item  price
date
2019-01-25    25  2439  299.0
2019-01-29    25  2439  299.0
2019-01-30    25  2439  299.0

In [10]:
df['2021-05':] # Get data for a time interval using slices

            shop  item  price
date
2021-05-01    27    98  399.0
2021-07-01    27    98  399.0
2021-11-01    27    98  399.0
2021-01-13    27    98  399.0
2021-01-20    27    98  399.0
2021-01-26    27    98  399.0
2021-01-28    27    96  149.0
2021-01-25    27   133  249.0

## Show data by date

In [11]:
df_by_month = df.to_period('M') # Displayed by month only, no statistical.
df_by_month.head()

         shop   item    price
date
2019-02    59  22154   999.00
2019-03    25   2552   899.00
2019-05    25   2552   899.00
2019-06    25   2554  1709.05
2019-01    25   2439   299.00

In [12]:
df_by_quarter = df.to_period('Q') # Displayed by quarter only, no statistical.
df_by_quarter.head()

        shop   item    price
date
2019Q1    59  22154   999.00
2019Q1    25   2552   899.00
2019Q2    25   2552   899.00
2019Q2    25   2554  1709.05
2019Q1    25   2439   299.00

## Statistics by date

In [13]:
df.resample('w').sum().head() # Summary data by week

            shop   item   price
date
2019-01-27    25   2439   299.0
2019-02-03   109  27032  1597.0
2019-02-10     0      0     0.0
2019-02-17     0      0     0.0
2019-02-24     0      0     0.0

In [14]:
df.resample('M').sum().head() # Summary data by Month

            shop   item  price
date
2019-01-31    75   7317  897.0
2019-02-28    59  22154  999.0
2019-03-31    25   2552  899.0
2019-04-30     0      0    0.0
2019-05-31    25   2552  899.0

In [15]:
df.resample('Q').sum().head() # Summary data by quarter

            shop   item    price
date
2019-03-31   159  32023  2795.00
2019-06-30    50   5106  2608.05
2019-09-30     0      0     0.00
2019-12-31     0      0     0.00
2020-03-31   212  67987  1112.50

In [16]:
df.resample('QS').sum().head() # Summary data by quarter, "QS" as quarter start frequency

            shop   item    price
date
2019-01-01   159  32023  2795.00
2019-04-01    50   5106  2608.05
2019-07-01     0      0     0.00
2019-10-01     0      0     0.00
2020-01-01   212  67987  1112.50

In [17]:
df.resample('AS').sum() # Summary data by year, "AS" as year start frequency

            shop    item     price
date
2019-01-01   209   37129   5403.05
2020-01-01   428  151099   1719.50
2021-01-01  1132  302329  10434.00

In [18]:
df.resample('A').sum()

            shop    item     price
date
2019-12-31   209   37129   5403.05
2020-12-31   428  151099   1719.50
2021-12-31  1132  302329  10434.00

## Statistics by year, quarter, or month, and show data.

In [19]:
df.resample('AS').sum().to_period('A')

      shop    item     price
date
2019   209   37129   5403.05
2020   428  151099   1719.50
2021  1132  302329  10434.00

In [20]:
df.resample('Q').sum().to_period('Q').head()

        shop   item    price
date
2019Q1   159  32023  2795.00
2019Q2    50   5106  2608.05
2019Q3     0      0     0.00
2019Q4     0      0     0.00
2020Q1   212  67987  1112.50

In [21]:
df.resample('M').sum().to_period('M').head()

         shop   item  price
date
2019-01    75   7317  897.0
2019-02    59  22154  999.0
2019-03    25   2552  899.0
2019-04     0      0    0.0
2019-05    25   2552  899.0

## Date related calculations in Pandas

In [22]:
# Return a fixed frequency DatetimeIndex
start = datetime.datetime(2021,1,1)
end = datetime.datetime(2022,1,1)
index = pd.date_range(start, end)

In [23]:
index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-12-23', '2021-12-24', '2021-12-25', '2021-12-26',
               '2021-12-27', '2021-12-28', '2021-12-29', '2021-12-30',
               '2021-12-31', '2022-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [24]:
# Return a fixed frequency DatetimeIndex, 
# with business day as the default frequency.
working_day = pd.bdate_range(start, end)

In [25]:
working_day

DatetimeIndex(['2021-01-01', '2021-01-04', '2021-01-05', '2021-01-06',
               '2021-01-07', '2021-01-08', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14',
               ...
               '2021-12-20', '2021-12-21', '2021-12-22', '2021-12-23',
               '2021-12-24', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [26]:
# Customized holidays
weekmask = 'Mon Tue Wed Thu Fri'
holidays = [datetime.datetime(2021,1,6),datetime.datetime(2021,12,23)]
pd.bdate_range(start, end, freq='C', weekmask=weekmask, holidays=holidays)

DatetimeIndex(['2021-01-01', '2021-01-04', '2021-01-05', '2021-01-07',
               '2021-01-08', '2021-01-11', '2021-01-12', '2021-01-13',
               '2021-01-14', '2021-01-15',
               ...
               '2021-12-17', '2021-12-20', '2021-12-21', '2021-12-22',
               '2021-12-24', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', length=259, freq='C')

In [27]:
# Calculate which day is after 15 business days
start_day = datetime.datetime(2021,2,23)
fifteen_business_days = 15 * pd.offsets.BDay()
start_day+fifteen_business_days

Timestamp('2021-03-16 00:00:00')

In [28]:
# Business Hour
bh = pd.offsets.BusinessHour()
bh

In [29]:
# Customized Business Hour
bh = pd.offsets.BusinessHour(start='9:00', end=datetime.time(18,0))
bh

## Resample time-series data in Financial

In [30]:
# sum, mean, std, ohlc... by 5 minutes.
rng = pd.date_range('1/1/2021', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

In [31]:
ts.resample('5Min').sum()

2021-01-01    24635
Freq: 5T, dtype: int64

In [32]:
ts.resample('5Min').ohlc()

            open  high  low  close
2021-01-01   197   484    0    156

In [33]:
ts.resample('5Min').max()

2021-01-01    484
Freq: 5T, dtype: int64

## Aggregate by date

In [34]:
df = pd.DataFrame(np.random.randn(1000,3),
                 index=pd.date_range('1/1/2021', freq='S', periods=1000),
                 columns=['A', 'B', 'C'])
df.head()

                            A         B         C
2021-01-01 00:00:00 -0.772461 -0.746647  1.436209
2021-01-01 00:00:01 -0.175404 -0.280122 -0.698936
2021-01-01 00:00:02 -0.995579  1.262303  0.345628
2021-01-01 00:00:03 -1.251471 -1.465043  0.479547
2021-01-01 00:00:04 -0.707736 -1.311727 -1.425977

In [35]:
r = df.resample('3T') # resample by 3 minute
r.mean() # mean()

                            A         B         C
2021-01-01 00:00:00 -0.095537  0.162757  0.010420
2021-01-01 00:03:00  0.086637  0.036852 -0.088658
2021-01-01 00:06:00  0.021991  0.003102 -0.009422
2021-01-01 00:09:00 -0.153621 -0.078878 -0.052225
2021-01-01 00:12:00 -0.037247  0.072597 -0.020500
2021-01-01 00:15:00  0.165279  0.059280 -0.028223

In [36]:
# sum,mean,std by column 'A'
r['A'].agg([np.sum, np.mean, np.std])

                           sum      mean       std
2021-01-01 00:00:00 -17.196606 -0.095537  1.090594
2021-01-01 00:03:00  15.594746  0.086637  1.030632
2021-01-01 00:06:00   3.958412  0.021991  1.001696
2021-01-01 00:09:00 -27.651782 -0.153621  1.003677
2021-01-01 00:12:00  -6.704402 -0.037247  0.920456
2021-01-01 00:15:00  16.527946  0.165279  0.970216

In [37]:
r.agg([np.sum, np.mean, np.std])
# r.agg({'sum', 'mean', 'std'}) # Using string of 'sum','mean','std' instead np.sum, np.mean,np.std

                             A                              B            \
                           sum      mean       std        sum      mean
2021-01-01 00:00:00 -17.196606 -0.095537  1.090594  29.296191  0.162757
2021-01-01 00:03:00  15.594746  0.086637  1.030632   6.633370  0.036852
2021-01-01 00:06:00   3.958412  0.021991  1.001696   0.558322  0.003102
2021-01-01 00:09:00 -27.651782 -0.153621  1.003677 -14.198069 -0.078878
2021-01-01 00:12:00  -6.704402 -0.037247  0.920456  13.067502  0.072597
2021-01-01 00:15:00  16.527946  0.165279  0.970216   5.928002  0.059280

                                       C
                          std        sum      mean       std
2021-01-01 00:00:00  0.934769   1.875636  0.010420  1.055992
2021-01-01 00:03:00  1.018485 -15.958463 -0.088658  1.050207
2021-01-01 00:06:00  1.066279  -1.695927 -0.009422  0.907579
2021-01-01 00:09:00  0.883451  -9.400501 -0.052225  1.010911
2021-01-01 00:12:00  0.976058  -3.690033 -0.020500  1.022687
2021-01-01 00:15:00  0.939185  -2.822292 -0.028223  0.969882

Apply different aggregation functions to different columns in the DataFrame

In [38]:
# Column 'A' by sumColumn 'B' by std
r.agg({'A': np.sum, 
      'B': lambda x: np.std(x, ddof=1)})

                             A         B
2021-01-01 00:00:00 -17.196606  0.934769
2021-01-01 00:03:00  15.594746  1.018485
2021-01-01 00:06:00   3.958412  1.066279
2021-01-01 00:09:00 -27.651782  0.883451
2021-01-01 00:12:00  -6.704402  0.976058
2021-01-01 00:15:00  16.527946  0.939185

In [39]:
# Column 'A' by sum and std; Column 'B' by mean and std
r.agg({'A':['sum', 'std'], 'B':['mean','std']})

                             A                   B
                           sum       std      mean       std
2021-01-01 00:00:00 -17.196606  1.090594  0.162757  0.934769
2021-01-01 00:03:00  15.594746  1.030632  0.036852  1.018485
2021-01-01 00:06:00   3.958412  1.001696  0.003102  1.066279
2021-01-01 00:09:00 -27.651782  1.003677 -0.078878  0.883451
2021-01-01 00:12:00  -6.704402  0.920456  0.072597  0.976058
2021-01-01 00:15:00  16.527946  0.970216  0.059280  0.939185